@model List<MovieListModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .spanStyle {
        display: flex;
        height: 30px;
        float: left;
        padding-right: 2%;
    }

    .marginStyle {
        margin-right: 5px;
        margin-top: 4px;
    }
</style>



<div class="col-sm-12">
    <form method="post">
        <h2 class="page-heading">Movies</h2>

        <div class="select-area" style="padding-bottom:18px">
            <div>
                <label for="SearchDate">Select Date:</label>
                <input type="date" id="SearchDate" name="SearchDate" class="test login__input">
                <button type="submit" class="btn btn-md btn--warning btn--wider" style="position:absolute;right:28px;" asp-controller="Home" asp-action="Index">Search</button>
            </div>
        </div>

        <div class="tags-area">
            <div class="tags tags--unmarked">
                <span class="tags__label">Sorted by:</span>
                <ul>
                    <input id="hdnReleaseDateClickInit" value="@ViewBag.ClickValue" type="hidden" />
                    <input id="hdnNameClickInit" value="@ViewBag.ClickValue" type="hidden" />
                    <li class="item-wrap"><a href="#" id="releaseDate" class="tags__item" data-filter="release">Release Date</a></li>
                    <li class="item-wrap"><a href="#" id="name" class="tags__item" data-filter="name">Name</a></li>

                </ul>
            </div>
        </div>
        @foreach (var movie in Model)
        {
            <div class="movie movie--preview movie--full">
                <div class="col-sm-3 col-md-2 col-lg-2">
                    <div class="movie__images">
                        <img alt="" src="@movie.ImagePath">
                    </div>
                    <div class="movie__feature">
                        <a href="#" class="movie__feature-item movie__feature--comment">123</a>
                        <a href="#" class="movie__feature-item movie__feature--video">7</a>
                        <a href="#" class="movie__feature-item movie__feature--photo">352</a>
                    </div>
                </div>

                <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                    <a href="movie-page-full.html" class="movie__title link--huge">@movie.Name</a>
                    <p class="movie__time">@movie.Duration min</p>
                    <p class="movie__option"><strong>Genre: </strong><a href="#">@movie.Category</a></p>
                    <p class="movie__option"><strong>Release date: </strong>@movie.ReleaseDate.ToShortDateString()</p>
                    <p class="movie__option"><strong>Director: </strong><a href="#">@movie.Director</a></p>
                    <p class="movie__option">
                        <strong>Actors: </strong><a href="#">@movie.Actors</a>
                    </p>
                    <p class="movie__option"><strong>Age restriction: </strong><a href="#">@movie.AgeRestriction</a></p>

                    <div class="movie__btns">

                        <button type="submit" class="btn btn-md btn--warning" asp-controller="Booking" asp-action="Index" asp-route-movieId="@movie.Id">Book a ticket for this movie</button>
                    </div>

                    <div class="preview-footer">
                        <p class="movie__option" style="margin-bottom:-3px;"><strong>Air Dates: </strong></p>
                        <div class="movie__rate" style="display: flex; flex-wrap: wrap;">
                            @foreach (var airdates in movie.AirDates)
                            {
                                <span class="datepicker__marker spanStyle"><i class="fa fa-calendar marginStyle"></i><p class="post__date">@airdates.ToShortDateString() </p></span>
                            }
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

            </div>
        }
    </form>

</div>
@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById('SearchDate').value = new Date().toISOString().split('T')[0];

            $("#releaseDate").click(function () {

                window.location.replace("?searchFilter=releaseDate&isSecondClick=" + $("#hdnReleaseDateClickInit").val());
                ChangeReleaseDateClickInit();


            });

            $("#name").click(function () {
                window.location.replace("?searchFilter=name&isSecondClick=" + $("#hdnNameClickInit").val());
                ChangeNameClickInit();
            });

            function ChangeReleaseDateClickInit() {
                var result = $("#hdnReleaseDateClickInit").val();

                if (result === "false")
                    $("#hdnReleaseDateClickInit").val("true");
                else
                    $("#hdnReleaseDateClickInit").val("false");
            };

            function ChangeNameClickInit() {
                var result = $("#hdnNameClickInit").val();

                if (result === "false")
                    $("#hdnNameClickInit").val("true");
                else
                    $("#hdnNameClickInit").val("false");
            };


        });



    </script>

}

