@model MovieDetailsBookingViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="container">
    <div class="order-container">
        <div class="order">
            <img class="order__images" alt='' src="images/tickets.png">
            <p class="order__title">Book a ticket <br><span class="order__descript">and have fun movie time</span></p>
            <div class="order__control">
                <a href="#" class="order__control-btn active">Purchase</a>
                <a href="#" class="order__control-btn">Reserve</a>
            </div>
        </div>
    </div>
    <div class="order-step-area">
        <div class="order-step first--step">When</div>
    </div>

    <h2 class="page-heading heading--outcontainer"> Chosen Movie</h2>
    <div class="col-sm-12 col-md-0">
        <img src="@Model.ImagePath" style="object-fit: cover;width:250px; display: block; margin: auto;">
        <p style="text-align: center;">@Model.Name</p>
    </div>


</section>

<section class="container">
    <div class="col-sm-12">

        <h2 class="page-heading">Date</h2>

        <div class="col-sm-6 login" style="padding-top: 15px;">
            <div class="col-sm-6" style="float:left;">
                <div>
                    <select id="drpAirdates" name="Airdate" class="login__input" style="float:left;">
                        <option value=>Select Airdate</option>
                        @foreach (var item in Model.Airdates)
                        {
                            <option value="@item.Key">@item.Value.ToShortDateString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <select id="drpSaloon" name="Saloon" class="login__input" style="">
                        <option value=>Select Saloon</option>
                        @foreach (var item in Model.Saloons)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <h2 class="page-heading">Pick Session</h2>

            <div class="time-select time-select--wide">

                <div class="time-select__group">
                    <div class="col-sm-3">
                        <p class="time-select__place">Select</p>
                    </div>
                    <ul id="drpSessions" class="col-sm-6 items-wrap">
                        @foreach (var item in Model.Sessions)
                        {
                            <li class="time-select__item" data-time='@item.ToShortTimeString()'>@item.ToShortTimeString()</li>
                        }


                    </ul>
                </div>

                <div class="choose-indector choose-indector--time">
                    <strong>Choosen: </strong><span class="choosen-area"></span>
                </div>
            </div>
        </div>



</section>

<div class="clearfix"></div>

<form id='film-and-time' class="booking-form" method="post" asp-controller="Booking" asp-action="Seating">
    <input type='text' name='choosen-movie' class="choosen-movie">

    <input type='text' name='choosen-city' class="choosen-city">
    <input type='text' name='choosen-date' class="choosen-date">

    <input type='text' name='choosen-cinema' class="choosen-cinema">
    <input type='text' name='choosen-time' class="choosen-time">


    <div class="booking-pagination">

        <input name="SelectedAirdate" type="hidden" id="hdnAirDate" />
        <input name="SelectedSaloonId" type="hidden" id="hdnSaloon" />
        <input name="SelectedSession" type="hidden" id="hdnSession" />
        <input name="MovieId" type="hidden" id="hdnMovieId" value="@Model.MovieId" />
        <a id="btnNextStep" class="booking-pagination__next" href="javascript:;" onclick="document.getElementById('film-and-time').submit();">
            <span class="arrow__text arrow--next">next step</span>
            <span class="arrow__info">choose a sit</span>
        </a>
    </div>
</form>
<div class="clearfix"></div>
<div class="top-scroll" style="display: none;"><a href="#"></a></div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            init_BookingOne();
            $("#drpSaloon").val($("#drpSaloon option:eq(1)").val());
            $("#drpAirdates").val($("#drpAirdates option:eq(1)").val());

            $("#drpAirdates").change(function () {

                var myUri = "@Url.Action("GetSaloonByAirdate")";
                var airdate = $("#drpAirdates option:selected").text();

                var selectedAirdate = $(this).children("option:selected").text();
                console.log("Seçilen Airdate: " + selectedAirdate);


                $.ajax({
                    type: "POST",
                    url: myUri,
                    dataType: "Json",
                    data: { airdate: airdate },
                    success: function (result) {
                        $('#drpSaloon').empty();
                        $('#drpSaloon').append("<option value='0'>Choose a Saloon</option>");

                        $.each(result.saloons, function (key, item) {
                            $('#drpSaloon').append("<option value='" + key + "'>" + item + "</option>");
                        });


                        $('#hdnAirDate').val(selectedAirdate);

                    },
                    error: function (req, status, error) {
                        console.log('hataAldım');
                        console.log(error);
                    }
                });

            });

            $("#drpSaloon").change(function () {
                var myUri = "@Url.Action("GetSessionsByAirdateSaloonId")";
                var saloonid = $("#drpSaloon").val();
                var airdate = $("#drpAirdates option:selected").text();

                var selectedSaloon = $(this).children("option:selected").text();
                console.log("Seçilen Salon: " + selectedSaloon);


                if (saloonid !== "0" && airdate !== "0") {
                    $.ajax({
                        type: "POST",
                        url: myUri,
                        dataType: "json",
                        data: { Saloonid: saloonid, Airdate: airdate },
                        success: function (result) {

                            $('#drpSessions').empty();

                            $.each(result.sessions, function (key, item) {

                                var date = new Date(item);
                                var formatter = new Intl.DateTimeFormat('tr-TR', { hour: '2-digit', minute: '2-digit' });
                                var formattedTime = formatter.format(date);


                                $('#drpSessions').append("<li class='time-select__item' data-time='" + formattedTime + "'>" + formattedTime + "</li>");
                            });

                            init_BookingOne();

                            $('#hdnSaloon').val(saloonid);
                            SetSessionSelectable();
                        },
                        error: function (req, status, error) {
                            console.log('An error occurred:');
                            console.log(error);
                        }
                    });
                } else {
                    console.log('Both #drpSaloon and #drpAirdates must be selected.');
                }
            });

            function SetSessionSelectable() {
                $('#drpSessions li').click(function (e) {
                    var selectedSession = $(this).attr('data-time');
                    $('#hdnSession').val(selectedSession);
                });
            }

        });



    </script>

}







